.home1{
  	display:flex;
  	flex-direction: column;
  	align-items: center;
  	flex:1; 
  }

  .home-top{
        /*max-width:95%;*/ 
        margin-bottom: 30px;
  } 

  .home-title{
  	font-size: 50px;
  	font-weight: 900;
  }


 .home-bottom{
	max-width:95%;
	text-align: center;
	justify-content: center;
	font-size:20px;
}

.home-boxes{
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	justify-content: space-evenly;
}

.home-content{
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 70px;
}

.home-content p{
   font-size: 40px;
   font-weight: 600; 

}

.home-picture{
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 10px;
	width: 40%;
}

.home-para{
    font-size: 25px;
}


.home-separator{
	background-image: linear-gradient(
    to right top,
    #A00000,
    #A00000
  );

	height: 6px; 
	max-width: 20%;
	border-radius: 10px;
	margin: auto;
}

.home-separator1{
	z-index: -1;
	position: relative;
	background-image: linear-gradient(
    to right top,
    #A00000,
    #A00000
  );

	height: 5px; 
	max-width: 5%;
	border-radius: 3px;
	margin: auto;
}

.hp1{
	background-image: url('../../../assets/home_images/New1.jpg');
}
.hp2{
	background-image: url('../../../assets/home_images/New2.jpg');
}
.hp3{
	background-image: url('../../../assets/home_images/New3.jpg');
}
.hp4{
	background-image: url('../../../assets/home_images/New4.jpg');
}
.hp5{
	background-image: url('../../../assets/home_images/New5.jpg');
}

.home-content-1{
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: flex-start;
	width:40%;
	margin-top: 40px;
	border-radius: 10px;
	
	background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center; 
	z-index: 1;
}

.home-content-1 p{
	color: white;
	padding-left: 15px;
	padding-right: 15px;
}

.home-content-1 h2{
	color: white;
	padding-left: 15px;
	padding-right: 15px;
}


.home-content-1::before{
	content: '';
	position: absolute;
	border-radius: 10px;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background-color: rgba(157,21,21,1);
	z-index: -1;
    transition: transform 500ms ease-in-out;
	transform: scaleX(0);
	transform-origin: left;

}

.home-content-1:hover::before{
	transform: scaleX(1);
}


.home-content-2{
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: flex-start;
	width:40%;
	margin-top: 40px;
	border-radius: 10px;
	background-size:     cover;                    
    background-repeat:   no-repeat;
    background-position: center center;
	z-index: 1;
}

.home-content-2 p{
	color: white;
	padding-left: 15px;
	padding-right: 15px;
}

.home-content-2 h2{
	color: white;
	padding-left: 15px;
	padding-right: 15px;
}


.home-content-2::before{
	content: '';
	position: absolute;
	border-radius: 10px;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background-color: rgba(0,0,0,0.9);
	z-index: -1;
    transition: transform 500ms ease-in-out;
	transform: scaleX(0);
	transform-origin: left;

}

.home-content-2:hover::before{
	transform: scaleX(1);
}


@media only screen and (max-width: 1024px){

	.home-title{
  	font-size: 30px;
  	font-weight: 900;
  }

	.home-content{
		margin-top: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 30px;
	}


	.home-picture{
		width:95%;
		height: auto;
		border-radius: 10px;
	}

	.home-content p{
     font-size: 30px;
     font-weight: 700; 
       }

     .home-para{
    font-size: 20px;
    }

    .home-separator{
    	max-width: 30%;
    }
}

@media only screen and (max-width: 720px){

	.home-boxes{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.home-content-1{
		width:95%;
	}

	.home-content-2{
		width:95%;
	}

}