  .reels{
  	display:flex;
  	flex-direction: column;
  	flex:1;
  }


  .reels-top{
  	display: flex;
  	align-items: center;
  	justify-content: center;
  }

  .reels-bottom{
  	display: flex;
  	align-items: center;
  	justify-content: center;
  }


  .reel-image{
  	  display:flex;
  	  align-items: center;
  	  justify-content: flex-start;
  	  width: 100%;
      background-image: url('../../../assets/reel-image-2.jpg');
      background-repeat: no-repeat;
      background-size: cover;
  }


  .reel-image p{
  	padding-left: 90px;
  	font-size: 50px;
  	font-weight:700;
  	color:white;
  }

  .reel-video{
    display: flex;
    width:100%;
    align-items: center;
    justify-content: center;
  }


  .video-js .vjs-big-play-button{
    background-color: #A00000 !important;
  }

  .bottom-picture{
  	display:flex;
  	align-items: center;
  	justify-content: center;
  	width:100%;
  	height:80vh;
  	/*background-color: rgba(0,0,0,0.9);
  	background-repeat: no-repeat;
    background-size: cover;*/
  }

  .reels-bg-video{
    position: absolute;
    width: 95%;
    height: 95%;
    left: 50%;
    top:  87%;
    object-fit: cover;
    transform: translate(-50%, -72%);
    z-index: -1;
    opacity: 0.65;
  }


  .reel-input{
  	width: 300px;
  	height: 50px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
  }

  .reel-input:hover{
  	border-color: rgb(0,191,255);
  	border-width: 2px;
  }


  .reel-btn{
  	margin-top: 10px;
  	width: 30%;
  	height: 30px;
    color: #ffffff;
    background-color: rgba(157,21,21,1);
    font-size: 15px;
    border:none;
    border-radius: 5px;
  }

  .para{
    color:white;
  }


  @media only screen and (max-width: 1280px){
    .reels-bg-video{
       width: 95%;
       height: 80%;
       transform: translate(-50%, -75%);
      }
 }

@media only screen and (max-width: 1024px){
   .reels-bg-video{
      width: 95%;
      height: 80%;
      transform: translate(-50%, -75%);
     }
}

@media only screen and (max-width: 720px){

 .reel-image{
	 justify-content: center;
	 align-items: center;
	}

 .reel-image p{
  	padding-left: 0px;
  	font-size: 20px;
     }

     .reels-bg-video{
      width: 100%;
      height: 80%;
      transform: translate(-50%, -90%);

     }
}