.contact{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	margin-top: 50px;
	margin-bottom: 50px;
} 

.contact-left{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

/*.contact-right{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.contact_map{
	margin-top: 50px;
}*/

.contact-left-content{
	margin-top: -45px;
	font-weight: 900;
	font-size: 20px;
}


.contact-left-form{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-weight: 600;
}

input {
	outline: 0;
	border-width: 0 0 2px;
	height: fit-content; 
	border-color: #808080;
	margin-left: 10px;
  }
  input:focus {
	border-color: green
  }

.contact-button{
	margin-top: 20px;
  	width: 40%;
  	height: 40px;
    color: #A00000;
    background-color: #ffffff;
    font-size: 15px;
    border: 0.2px solid #A00000; 
    border-radius: 25px;
}

.contact-button:hover{
	color:  #ffffff;
    background-color: #A00000;
}

.location{
	margin-top: 50px;
    margin-bottom: 50px;
	font-size: 30px;
}

.location p{
	font-weight: 600;
}

@media only screen and (max-width: 720px){
	.contact{
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
	}

	.contact-right{
		margin-bottom: 50px;
	}

	.location{
		font-size: 30px;
	}
}