.home{

	display: flex;
	flex-direction: column;
	/*align-items: center;*/
	width: 95%;
	/*min-height: 100vh;*/
	margin: auto;
}



/*   This is called 'Media Query' and used to make our website responsive */

/*For screens smaller than laptop ie., Tablets*/
@media only screen and (max-width: 1024px){

	.home{
		width: 95%;
	}

} 


/*For screens smaller than tablet ie., smartphones*/
@media only screen and (max-width: 512px){

	.home{
		width:100%;
	}
	
}

