.services{
	display: flex;
	flex-direction: column;
	/*flex:1;*/
}

.services-top{ 
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.services-image{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	border-radius: 10px; 
	padding: 50px 100px;
	width: 100%;
	background-image: url('../../../assets/home_images/snow1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.services-image p{
  	
  	font-size: 80px;
  	font-weight:700;
  	color:white;
  	margin-top: -20px;
  }

.services-bottom{
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	justify-content: space-evenly;
}

.service-content{
	padding:20px;
	margin: 40px;
	max-width: 40%;
	display: flex;
	border-radius: 20px;
	justify-content: center;
	align-items: center;
}



@keyframes shadow {
  from {box-shadow: none;}
  to {box-shadow: 2px 2px 30px black;}
}

.service-content:hover{
  animation-name: shadow; 
  animation-duration: 1s;
  background-color: #ffffff;
  box-shadow: 2px 2px 30px black;
}

.service-text{
	margin-left: 20px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	text-align: left;
}

.service-text h1{
	color: #A00000;
	font-weight: 800;
}

.service-picture{
	width: 100px;
}


@media only screen and (max-width: 768px){
	 .services-image p{
 		font-size: 30px;
 	}

 	.service-content{
	margin: 10px;
	max-width: 45%;
     }

     .service-text{
	justify-content: center;
	align-items: center;
      }
}

 @media only screen and (max-width: 720px){

 	.services-image{
 	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
 	}

 	.services-image p{
 		font-size: 50px;
    	font-weight:700;
    	margin-top: 0px;
 	}

 	.service-content{
	margin: 20px;
	max-width: 90%;
     }

    .service-text{
	justify-content: center;
	align-items: center;
       }
 }